.border-gradient {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: -0.4px;
    padding: 0.4px;
    background-image: linear-gradient(115.28deg, rgba(255, 255, 255, 0.4) -1.47%, rgba(255, 255, 255, 0) 67.22%),
      linear-gradient(305.6deg, rgba(11, 11, 13, 0.8) -0.43%, rgba(11, 11, 13, 0) 80.55%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
  }

  &.rounded-2xl {
    &::before {
      border-radius: calc(var(--radius-2xl) + 1px);
    }
  }
  &.rounded-lg {
    &::before {
      border-radius: calc(var(--radius-lg) + 1px);
    }
  }
  &.rounded-full {
    &::before {
      border-radius: 100%;
    }
  }
}
